@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.header-container{
  display: flex;
  padding: 1.2rem;
  color: white;
  
}

ul{
  display: flex;
  column-gap: 4rem;
  list-style-type: none;
  align-self: center;
}
li{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-top: 0.6rem;
  cursor: pointer;
}

li:hover{
  background-color: white;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 1s ;
}

.header-logo{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
}

.footer-container{
  /* border-top: 0.1px solid grey; */
  padding: 1.2rem 0 1.2rem 0;
  display: flex;
  background-color: #191919;
  flex-direction: column;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

.footermoreinfo-container{
  max-width: 300px;
}

.footerdetails-wrapper{
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.copyright{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border-top: 0.2px grey;
}

.social-container{
  display: flex;
  flex-direction: column;
}

.social-details{
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  margin-bottom: 10px;
}

.social-icon{
  color: var(--color-white);
  font-size: 22px;
  display: flex;
  align-content: center;
  align-items: center;
  column-gap: 5px;
}

.social-description{
  font-size: 12px;
}

a{
  text-decoration: none;
}

.aboutme-details{
  line-height: 1.2rem;
}

.captures-container{
  color: white;
  padding-left: 3.5rem;
}

.captures-heading{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 1rem;
}